
<ion-view view-title="Recipes" >
    <ion-content>
        <div ng-repeat="i in tab track by $index">
            <div class="caption">
                <img src="img/recipes/9.png" class="img-full-width" alt="" />
                <a ui-sref="app.friends" class="footerCard item item-avatar item-icon-right" style="min-height: 65px;">
                    <img src="img/recipes/Savannah-Walkman.png">
                    <h2 style="margin-left: 60px;" >Strowberry & Cereals</h2>
                    <p style="margin-left: 60px;" >Breakfast</p>
                    
                    <i class="icon ion-heart" style="color:#ff6d00;font-size: 14px;"> 344</i>
                </a>
            </div>
            <div class="caption">
                <img src="img/recipes/6.png" class="img-full-width" alt="" />
                <a ui-sref="app.friends" class="footerCard item item-avatar item-icon-right" style="min-height: 65px;">
                    <img src="img/recipes/James-Richardson.png">
                    <h2 style="margin-left: 60px;" >Jon Snow</h2>
                    <p style="margin-left: 60px;" >Da illest illegitimate</p>
                    
                    <i class="icon ion-heart" style="color:#ff6d00;font-size: 14px;"> 344</i>
                </a>
            </div>
            <div class="caption">
                <img src="img/recipes/3.png" class="img-full-width" alt="" />
                <a ui-sref="app.friends" class="footerCard item item-avatar item-icon-right" style="min-height: 65px;">
                    <img src="img/recipes/Avatar.png">
                    <h2 style="margin-left: 60px;" >Jon Snow</h2>
                    <p style="margin-left: 60px;" >Da illest illegitimate</p>
                    <i class="icon ion-heart" style="color:#ff6d00;font-size: 14px;"> 344</i>
                </a>
            </div>
        </div>

        <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded"
            on-infinite="loadMoreData()">
        </ion-infinite-scroll>
        

    </ion-content>
</ion-view>