<ion-view view-title="Recipes 5">
    <ion-content ng-class="{expanded:isExpanded}" style="background-color:#f1f5f7; padding:0px;" >
        <div class="tabs-striped tabs-color-stable">
            <div class="tabs" style="position: static;background-color: #388e3c;">
                <a class="tab-item active  myTabs" ui-sref="app.recipes4" data-ink-color="#205a2d" data-ink-opacity=".35">
                    <i class="icon ion-ios-nutrition" style="font-size:25px"></i>
                </a>
                <a class="tab-item myTabs" ui-sref="app.recipes4" data-ink-color="#205a2d" data-ink-opacity=".35">
                    <i class="icon ion-pizza" style="font-size:25px" ></i>
                </a>
                <a class="tab-item myTabs" ui-sref="app.recipes4" data-ink-color="#205a2d" data-ink-opacity=".35">
                    <i class="icon ion-icecream" style="font-size:25px"></i>
                </a>
                <a class="tab-item myTabs" ui-sref="app.recipes4" data-ink-color="#205a2d" data-ink-opacity=".35">
                    <i class="icon ion-beer" style="font-size:25px"></i>
                </a>
            </div>
        </div>

        <div class="caption2">
            <img src="img/recipes/5.png" class="img-full-width2" style="-webkit-filter: Brightness(70%);height: 250px;" alt="" />
            <h1 class="title" style="left:0px; top:40px;text-align:center;font-size:33px;font-family: robotodraft;" >Salad</h1>
            <p class="time" style="text-align: center;left: 0;right: 0;display: block;padding: 0 30px;top: 120px;font-size: 16px;" >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
            </p>
        </div>

        <div class="list half" style="width:45%" >
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink" style="background-color:white;" >
                    <img class="full-image" src="img/recipes/9.png" style="height: 200px;" >
                </div>
                <div class="item" style="background-color:white;" >
                    <p style="color:#616161;text-align:center;font-size: 18px;" >
                        A hundred 
                    </p>
                    <p style="color:#9e9e9e;text-align:center" >
                        30 minutes
                    </p>
                </div>
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink" style="background-color:white;" >
                    <img class="full-image" src="img/recipes/6.png" style="height: 200px;" >
                </div>
                <div class="item" style="background-color:white;" >
                    <p style="color:#616161;text-align:center;font-size: 18px;" >
                        A hundred 
                    </p>
                    <p style="color:#9e9e9e;text-align:center" >
                        30 minutes
                    </p>
                </div>
            </div>
        </div>
        <div class="list half" style="width:45%;margin-left:10px;">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink" style="background-color:white;" >
                    <img class="full-image" src="img/recipes/4.png" style="height: 200px;" >
                </div>
                <div class="item" style="background-color:white;" >
                    <p style="color:#616161;text-align:center;font-size: 18px;" >
                        A hundred 
                    </p>
                    <p style="color:#9e9e9e;text-align:center" >
                        30 minutes
                    </p>
                </div>
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink" style="background-color:white;" >
                    <img class="full-image" src="img/recipes/3.png" style="height: 200px;" >
                </div>
                <div class="item" style="background-color:white;" >
                    <p style="color:#616161;text-align:center;font-size: 18px;" >
                        A hundred 
                    </p>
                    <p style="color:#9e9e9e;text-align:center" >
                        30 minutes
                    </p>
                </div>
            </div>

        </div>

        <div></div>
        
    </ion-content>
</ion-view>
