<ion-view view-title="Recipes 3">
    <ion-content ng-class="{expanded:$scope.isExpanded}" style="background-color:#f1f5f7; padding:15px;">

        <div style="background-color:white;" >
            <div class="hero slide-up" style="background-image: url('img/recipes/2.png');    height: 220px;">
            </div>
            <button class="button button-fab icon ion-coffee" style="background-color:#ff6d00; color:white;    margin-left: 70%;
        margin-top: -27px;    width: 65px;height: 65px;" ></button>

            <h4 style="margin-left: 15px;margin-top: -15px;color: #616161;" ui-sref="app.recipes2" > 
                Lorem ipsum dolor
            </h4>
            <h5 style="margin-left: 15px;margin-top: 0px;color: #9e9e9e;" >
                Breakfast
            </h5>
            <p style="margin-left: 15px;margin-top: 0px;color: #9e9e9e;font-size:15px;" >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            
            <a ui-sref="app.recipes2" class="item item-avatar" style="    border-bottom: 0;
                border-left: 0;
                border-right: 0;padding-left:80px;min-height: 0px;
                height: 62px;" data-ink-color="#388e3c" data-ink-opacity=".25" >
                <img src="img/recipes/James-Richardson.png">
                <h2 style="display: inline-block;" >Jon Snow</h2>
                
                <div style="float:right;">
                    <i class="icon ion-heart" style="color:#ff6d00;font-size: 14px;"> 344</i>
                    <i class="icon ion-chatbubble" style="color:#388e3c;font-size: 14px;margin-left:20px;"> 16</i>
                </div>
            </a>
        </div>

        <div style="background-color:white;" >
            <div class="hero slide-up" style="background-image: url('img/recipes/1.png');    height: 220px;">
            </div>
            <button class="button button-fab icon ion-coffee" style="background-color:#ff6d00; color:white;    margin-left: 70%;
        margin-top: -27px;    width: 65px;height: 65px;" ></button>

            <h4 style="margin-left: 15px;margin-top: -15px;color: #616161;" ui-sref="app.recipes2" > 
                Lorem ipsum dolor
            </h4>
            <h5 style="margin-left: 15px;margin-top: 0px;color: #9e9e9e;" >
                Breakfast
            </h5>
            <p style="margin-left: 15px;margin-top: 0px;color: #9e9e9e;font-size:15px;" >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            
            <a ui-sref="app.recipes2" class="item item-avatar" style="    border-bottom: 0;
                border-left: 0;
                border-right: 0;padding-left:80px;min-height: 0px;
                height: 62px;" data-ink-color="#388e3c" data-ink-opacity=".25" >
                <img src="img/recipes/James-Richardson.png">
                <h2 style="display: inline-block;" >Jon Snow</h2>
                
                <div style="float:right;">
                    <i class="icon ion-heart" style="color:#ff6d00;font-size: 14px;"> 344</i>
                    <i class="icon ion-chatbubble" style="color:#388e3c;font-size: 14px;margin-left:20px;"> 16</i>
                </div>
            </a>
        </div>
        
    </ion-content>
</ion-view>
