<ion-view view-title="Recipes 4">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" style="background-color:#f1f5f7; padding:0px;" > 
        <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink" style="background-color:white;" >
                    <h2 style="color:#616161;font-weight: 600;" >Lorem ipsum dolar</h2>
                    <img class="full-image" src="img/recipes/9.png">
                </div>
                <div class="item" style="background-color:white;" >
                    <p style="color:#9e9e9e;" >
                        A hundred thousand grateful loves
                    </p>
                    <p style="color:#616161;" >
                        <i class="icon ion-android-time" style="color:#40bbd5;" ></i> 15 min
                    </p>
                </div>
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink" style="background-color:white;" >
                    <h2 style="color:#616161;font-weight: 600;" >Lorem ipsum dolar</h2>
                    <img class="full-image" src="img/recipes/6.png">
                </div>
                <div class="item" style="background-color:white;" >
                    <p style="color:#9e9e9e;" >
                        A hundred thousand grateful loves
                    </p>
                    <p style="color:#616161;" >
                        <i class="icon ion-android-time" style="color:#40bbd5;" ></i> 15 min
                    </p>
                </div>
            </div>
        </div>
        <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink" style="background-color:white;" >
                    <h2 style="color:#616161;font-weight: 600;" >Lorem ipsum dolar</h2>
                    <img class="full-image" src="img/recipes/4.png">
                </div>
                <div class="item" style="background-color:white;" >
                    <p style="color:#9e9e9e;" >
                        A hundred thousand grateful loves
                    </p>
                    <p style="color:#616161;" >
                        <i class="icon ion-android-time" style="color:#40bbd5;" ></i> 15 min
                    </p>
                </div>
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink" style="background-color:white;" >
                    <h2 style="color:#616161;font-weight: 600;" >Lorem ipsum dolar</h2>
                    <img class="full-image" src="img/recipes/3.png">
                </div>
                <div class="item" style="background-color:white;" >
                    <p style="color:#9e9e9e;" >
                        A hundred thousand grateful loves
                    </p>
                    <p style="color:#616161;" >
                        <i class="icon ion-android-time" style="color:#40bbd5;" ></i> 15 min
                    </p>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
