/* Walkthrough */
.ion-record:before{
    color:white;
}
.img-walkthrough{
    display: block;
    margin: 0 auto;
    margin-top: 20%;
}
.h2-walkthrough{
    color:white;
    text-align: center;
    margin-top: 10%;
}
.p-walkthrough{
    padding: 30px;
    text-align: center;
}


/* Login and Signup */
.tabs-striped.tabs-color-stable .tab-item.active {
    border-bottom-width: 2px;
    border-top-width: 0px;
    margin-top: 0px;
}

.tabs-striped.tabs-color-stable .tab-item.activated {
    border-bottom-width: 2px;
    border-top-width: 0px;
    margin-top: 0px;
}
.myTabs{
    font-size:16px;
    font-family: robotodraft;
}
.myBox{
    background-color:#f8f9f9;
    width:70%;
    height:auto;
    margin: 0 auto;
    margin-top:5%;
    border-radius: 4px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); 
    padding-top:10px;
}
input.myInput{
    border-width: 1px;
    border-color: rgb(235, 235, 235);
    border-style: solid;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin:0 auto;
    padding-left: 10px;
    height: 50px;
}
button.myBtn{
    display:block !important;
    margin:0 auto !important;
    background-color:#ff6d00 !important;
    width:90% !important;
    margin-top:20px !important;
}
button.fbBtn{
    margin:0px !important;
    background-color:#3f569b !important;
}
button.myFab{
    display:block;
    margin:0 auto;
    color:#ff6d00 !important;
}

/* Recipes 1 */
.img-full-width {
    width: 100%;
    /*height: auto;*/
    height: 206px;
}
.caption {
    position: relative;
    height:206px;
}
.caption .footerCard {
    margin: 0;
    color: #37474f;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(255,255,255,0.9);
    font-size: 15px;
    line-height:2em;
    border: 0;
    padding-bottom:0px
}

/* Recipes 2 */
.img-full-width2 {
    width: 100%;
    height: 200px;
}
.caption2 {
    position: relative;
    margin-bottom: 5px;
}
.caption2 .title {
    margin: 0;
    color: white;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 0;
    font-size: 20px;
    border: 0;
    padding-bottom:0px;
    top:20px;
}
.caption2 .time {
    margin: 0;
    color: white;
    position: absolute;
    bottom: 0;
    left: 14px;
    right: 0;
    font-size: 14px;
    border: 0;
    padding-bottom:0px;
    top:160px;
}
.caption2 button.try{
    margin: 0;
    color: white;
    position: absolute;
    bottom: 0;
    left: 75%;
    right: 0;
    font-size: 14px;
    border: 0;
    padding-bottom:0px;
    top:140px;
    background-color: #388e3c;
    padding: 0 1.1rem;
}



/* Menu */
.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}
